<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="EZ Followers" property="og:title" />
    <meta content="Buy Twitch & Instagram followers with the lowest prices\n\n**Free 1000 twitch followers for the new users**" property="og:description" />
    <meta content="https://ezfollowers.herokuapp.com" property="og:url" />
    <meta content="#9109FC" data-react-helmet="true" name="theme-color" />
    <title>EZ FOLLOWERS</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/main.js"></script>
</head>
<body oncontextmenu="return false;">
    <div class="navbar">
        <div class="links">
            <a href="/feedback">Feedback</a>
        </div>
    <a href="/" class="brand">EZ FOLLOWERS</a>
    <a href="/discord" class="discord"><img src="/images/discord.svg">DISCORD</a>
    </div>
    <div class="container">
    {{{body}}}
    </div>
    <div class="footer">
        <div class="section">
            <p>Team : Thunders E-SPORTS</p>
            <p>Contact : Not Availaible</p>
            <p>Copyright : 2021-2022</p>
        </div>
        <div class="section">
            <p>Email : demonshosting.business@gmail.com</p>
            <p>Discord Server : <a class="link" href="https://discord.gg/DrKRbZ7QDr">Click Here</a></p>
            <p>Donate : <a class="link" href="">Click Here</a></p>
        </div>
        
        <div class="logos">
            <a href=""><img src="/images/twitch.png" alt="twitch"></a>
            <a href=""><img src="/images/instagram.png" alt="instagram"></a>
            <a href=""><img src="/images/paypal.png" alt="paypal"></a>
            <a href=""><img src="/images/discord.svg" alt="discord"></a>
        </div>
    </div>
</body>
</html>