<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/main.js"></script>
</head>
<body oncontextmenu="return false;">
    <div class="navbar">
        <div class="links">
            <a href="/feedback">Feedback</a>
        </div>
    <a href="/" class="brand">EZ FOLLOWERS</a>
    <a href="/discord" class="discord"><img src="/images/discord.svg">DISCORD</a>
    </div>
    <div class="container">
    {{{body}}}
    </div>
    
</body>
</html>