<div class="center">
<div class="step">
    <h1>STEP 1</h1>
    <div class="progress-bar">
        <div class="progress p1"></div>
    </div>
</div>

<h1 class="offer-title">Choose an offer</h1>

<div class="offers" id="switcher">
    <div class="offer">
        <div class="check checked"></div>
        <div class="header">
            <img src="/images/instagram.png" alt="instagram">
            <h1>Instagram Followers</h1>
        </div>
        <div class="details">
            <h1>Offer Details</h1>
            <p>Offered By : 7br & Abdou</p>
            <p>Follow us on : <a href="/instagram" class="link">Instagram</a> <a href="/twitch" class="link">Twitch</a></p>
            <h1>Prices</h1>
            <div class="price"><p target="if1">1000 Followers : 1.49$</p><div class="add"><button class="minus" target="if1" disabled>-</button><label for="if1">0</label><button class="plus" target="if1">+</button></div></div>
            <div class="price"><p target="if2">5000 Followers : 7.29$</p><div class="add"><button class="minus" target="if2" disabled>-</button><label for="if2">0</label><button class="plus" target="if2">+</button></div></div>
            <div class="price"><p target="if3">10000 Followers : 13.99$</p><div class="add"><button class="minus" target="if3" disabled>-</button><label for="if3">0</label><button class="plus" target="if3">+</button></div></div>
            <h1>Payment Methods</h1>
            <img src="/images/paypal.png" alt="paypal">
        </div>
        <div class="discount">
        <input type="text" class="discount" index="1" placeholder="Add an instagram discount coupon">
        <button index="1">Select</button>
        </div>
        <p class="total" target="1">Total : 0$ - Followers : 0</p>
    </div>
    <div class="offer last">
        <div class="check"></div>
        <div class="header">
            <img src="/images/twitch.png" alt="instagram">
            <h1>Twitch Followers</h1>
        </div>
        <div class="details">
            <h1>Offer Details</h1>
            <p>Offered By : 7br & Abdou</p>
            <p>Follow us on : <a href="/instagram" class="link">Instagram</a> <a href="/twitch" class="link">Twitch</a></p>
            <h1>Prices</h1>
            <div class="price"><p target="tf1">1000 Followers : 1.49$</p><div class="add"><button class="minus" target="tf1" disabled>-</button><label for="tf1">0</label><button class="plus" target="tf1">+</button></div></div>
            <div class="price"><p target="tf2">5000 Followers : 7.29$</p><div class="add"><button class="minus" target="tf2" disabled>-</button><label for="tf2">0</label><button class="plus" target="tf2">+</button></div></div>
            <div class="price"><p target="tf3">10000 Followers : 13.99$</p><div class="add"><button class="minus" target="tf3" disabled>-</button><label for="tf3">0</label><button class="plus" target="tf3">+</button></div></div>
            <h1>Payment Methods</h1>
            <img src="/images/paypal.png" alt="paypal">
        </div>
        <div class="discount">
        <input type="text" class="discount" index="2" placeholder="Add a twitch discount coupon">
        <button index="2">Select</button>
        </div>
        
        <p class="total" target="2">Total : 0$ - Followers : 0</p>
    </div>
    <button id="proceed" class="proceed" disabled>Proceed</button>
</div>

</div>