<div class="intro">
    <div class="logos">
        <img src="/images/instagram.png" alt="instagram">
        <img src="/images/twitch.png" alt="twitch">
    </div>
    <h1 class="title">Buy Twitch & Instagram followers with the lowest prices</h1>
    <p class="description">Get a free 1000 twitch followers using coupon : THUNDERS</p>
    <a href="/buy" class="discover">Discover</a>
</div>