<div class="intro">
    <div class="logos">
        <img src="/images/instagram.png" alt="instagram">
        <img src="/images/twitch.png" alt="twitch">
    </div>
    <h1 class="title">Buy Twitch & Instagram followers with the lowest prices</h1>
    <a href="/buy" class="discover">Discover</a>
</div>