<div class="field" index="1">
    <label>Full Name</label>
    <input type="text" placeholder="Ex. John Senna">
</div>
<div class="field" index="2">
    <label>{{channelSwitcher selected}} URL</label>
    <input type="text" placeholder="Ex. https://twitch.com/yourname">
</div>
<div class="field" index="3">
    <label>Your Email</label>
    <input type="email" placeholder="Ex. example.domain@gmail.com (Only Gmail)">
</div>

<p class="note">Note : When the procedure completes, you will be emailed with that</p>