<div class="showEffect">
<button id="pay"><img src="/images/paypal.png"> Proceed</button>
<p class="note">Note : You will be automatically emailed that you accepted the transaction and you will get your followers within 24 hours</p>
</div>