<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EZ FOLLOWERS</title>
</head>
<body style="height: 100%;">
    <form action="/admin" method="POST" style="display: flex;place-items: center;flex-direction: column;position:relative;top:50%;transform: translateY(-50%);">
    <input type="text" name="user" style="margin-bottom: 10px;">
    <input type="password" name="pass" style="margin-bottom: 10px;">
    <button style="margin-top:3px;">Login</button>
    </form>
</body>
</html>